:root {
    --nav-color: #C3FF93;
    --about-us-1: #FF8AAE;
    --about-us-2: #FFB2A6;
    --about-us-2: #B3C8CF;
    --backround-about: #FFFBC7;
    --hover: #8b8585;
}


/* nav */

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: var(--about-us-1) !important;
    color: white !important;
}

.navbar .nav-item.dropdown .nav-link.dropdown-toggle:hover {
    color: var(--about-us-1) !important;
}

.navbar .nav-item.dropdown .dropdown-menu .dropdown-item {
    transition: background-color 0.3s ease;
}

.btn {
    background-color: var(--about-us-1);
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--about-us-2);
}

.bgron {
    background: url('asset/download (3).jpeg');
    padding-bottom: 100px;
}

.tulisan {
    background-color: #FFB2A6;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}


/* h6 {
    margin-top: -80px;
} */

.visi,
.gam {
    background-color: #FF8AAE;
}

.misi {
    background-color: #FFB2A6;
}

.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #C3FF93;
    padding: 20px 0;
}


/* navbar start */

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: black;
}

.navbar-brand:hover {
    color: var(--about-us-1);
    transition: 0.3s;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: black;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: var(--about-us-1);
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--about-us-1);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}


/* main */

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}

.navbar {
    box-shadow: 0 0 10px rgb(11, 11, 11);
}

.gambar1 {
    position: relative;
}

.gambar2 {
    position: relative;
}

.gambar1 img,
.gambar2 img {
    position: absolute;
    top: 0;
    left: 0;
}

.visi,
.misi,
.gam,
.bar {
    box-shadow: 0 0 10px rgb(159, 135, 135);
}


/* sejarah */

.sejarah {
    background: url(asset/Smile.jpeg);
    /* width: 100%; */
    background-size: cover;
}


/* detail */

.pita {
    background: url(asset/pita\ bg.jpeg);
    background-size: cover;
    background-position: center;
}

.piw {
    border-radius: 30px;
    box-shadow: 0 0 10px black;
}

mark {
    background-color: #FF8AAE !important;
    border-radius: 10px;
}


/* footer */

.footer__social {
    list-style-type: none;
}

.footer__item {
    list-style-type: none;
}

.footer__item a {
    text-decoration: none;
}

.footer {
    background-color: var(--first-color);
}

.footer__container {
    padding: 1rem 0 3rem;
    /* Kurangi padding */
}

.footer__title,
.footer__link {
    color: var(--body-color);
}

.footer__title {
    text-align: center;
    margin-bottom: 1rem;
    /* Kurangi margin */
    font-size: 1.5rem;
    /* Kurangi ukuran font */
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    /* Kurangi column-gap */
    margin-bottom: 1rem;
    /* Kurangi margin */
}

.footer__list .footer__item a:hover {
    text-decoration: underline;
    color: #11347a;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    /* Kurangi column-gap */
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: 0.25rem;
    /* Kurangi padding */
    border-radius: 0.25rem;
    font-size: 0.875rem;
    /* Kurangi ukuran font */
    display: inline-flex;
}

.footer__copy {
    display: block;
    margin-top: 2rem;
    /* Kurangi margin-top */
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-bottom: 1rem;
    /* Kurangi margin-bottom */
}

.footer__social-link i {
    font-size: 20px;
    /* Kurangi ukuran font ikon */
    padding-top: 5px;
    /* Kurangi padding-top */
}